%section.site-title.header-photograph
  .title
    = image_tag('title_large.png', alt: 'that guy with the mohawk', class: 'site-logo')

%section.portfolio
  .photo-projects
    %h2.red.with-underline Projects
    %div
      - @projects.each do |album|
        .project-album-link.album-link
          = image_tag(album.primary_photograph.image.url(:square_150), alt: "@album.title")
          = link_to album_path(album) do
            %h5.album-title= album.title

  .photo-collections
    %h2.red.with-underline Collections
    %div
      - @collections.each do |album|
        .collection-album-link.album-link
          = image_tag(album.primary_photograph.image.url(:square_150), alt: "@album.title")
          = link_to album_path(album) do
            %h5.album-title= album.title
%section.photo-stream
  %div
    %h2.black.with-underline Full Photo Archive
    %div
      - @albums.each do |album|
        .stream-album-link.album-link
          = image_tag(album.primary_photograph.image.url(:square_150), alt: "@album.title")
          = link_to album_path(album) do
            %h5.album-title= album.title

%section.contact
  %div
    .image-with-caption.pull-left.bio-photo
      = image_tag('about-me.jpg', class: 'black-border')

    %h2.red other contact info
    %table.find-elsewhere
      %tr
        %td
          = fa_icon 'envelope fw'
          email
        %td
          %a{href: 'mailto:jp@thatguywiththemohawk.com'}
            jp@thatguywiththemohawk.com
      %tr
        %td
          = fa_icon 'twitter fw'
          twitter
        %td
          %a{href: 'http://www.twitter.com/jonthebastard'}
            @jonthebastard
      %tr
        %td
          = fa_icon 'camera fw'
          smugmug
        %td
          %a{href: 'https://thatguywiththemohawk.smugmug.com/'}
            thatguywiththemohawk.smugmug.com